html{
	color: #000;
	background: #FFF
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td{
	margin: 0;
	padding: 0
}
table{
	border-collapse: collapse;
	border-spacing: 0
}
fieldset, img{
	border: 0
}
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var{
	font: inherit
}
del, ins{
	text-decoration: none
}
li{
	list-style: none
}
caption, th{
	text-align: left
}
h1, h2, h3, h4, h5, h6{
	font-size: 100%;
	font-weight: normal
}
q:before, q:after{
	content: ''
}
abbr, acronym{
	border: 0;
	font-variant: normal
}
sup{
	vertical-align: baseline
}
sub{
	vertical-align: baseline
}
legend{
	color: #000
}
.clearfix{
	*zoom: 1;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after{
	clear: both;
}

.form_chronopay{
	width: 466px;
	margin: 0 auto;
	color: #263352;
	font-family: 'Arial';
	font-size: 13px;
	line-height: 130%;
	font-weight: normal;
	font-style: normal;
}
.form_chronopay h2{
	margin: 0 0 25px;
	font-size: 20px;
}
.form_chronopay h3{
	font-size: 15px;
}
.form_chronopay h3 span{
	margin: 0 0 0 10px;
	font-size: 20px;
}
.form_chronopay .cart_form{
	width: 466px;
	height: 291px;
	margin: 30px 0 15px 0;
	background: url("cart-form.jpg") no-repeat 0 0;
}
.cart_form_in{
	padding: 50px 20px 25px;
}
.cart_form .field{
	width: 294px;
}

/*begin field*/
.field{
	position: relative;
	margin: 0 0 10px;
}
.field .name{
	display: block;
	margin: 0 0 4px;
}

.big_field .field{
	float: left;
	margin: 0;
}
.big_field .field.data{
	margin: 0 40px 0 0;
}
.field.data .custom-select{
	width: 90px;
	margin: 0 15px 0 0;
}
.form_chronopay .field.cvc{
	width: 90px;
}
.field.email{
	width: 280px;
}
.field.email .cont{
	margin: 6px 0 0 0;
	font-size: 11px;
	color: #777;
}
.field.checkbox{
	margin: 35px 0 25px 0;
	font-size: 15px;
}
.field.checkbox input{
	margin: 1px 5px 0 0;
	vertical-align: top;
}
.field.action .cont{
	margin: 6px 0 0 0;
	font-size: 11px;
	color: #777;
}
.field.cvc .baloon{
	left: auto;
	right: 0;
	width: 170px;
}
.field .baloon{
	left: 0;
	top: 50px;
	max-width: 170px;
}
.field input:hover + .baloon{
	display: block;
}
.field input:focus + .baloon{
	display: none;
}
.input-text{
	display: inline-block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	margin: 0;
	overflow: hidden;
	border: 1px solid #8191BE;
	border-top: 1px solid #647093;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.custom-select{
	margin: 0;
	padding: 4px 3px 4px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 11px !important;
	color: #777;
}
/*end field*/

/*begin baloon*/
.baloon{
	position: absolute;
	z-index: 300;
	display: none;
	padding: 6px 10px;
	background: #fff;
	font-size: 11px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.65);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.65);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.baloon:after,
.baloon:before{
	content: '';
	position: absolute;
	top: -11px;
	height: 11px;
}
.baloon:after{
	left: 0;
	width: 100%;
}
.baloon:before{
	left: 50%;
	width: 14px;
	margin-left: -7px;
	background: url("base.png") no-repeat 0 0;
}
.baloon.tl:before,
.baloon.fm-baloon-l:before,
.baloon.arrow-tl:before{
	left: 20px;
	margin-left: 0;
}
.baloon.tr:before,
.baloon.fm-baloon-r:before,
.baloon.arrow-tr:before{
	left: auto;
	right: 20px;
	margin-left: 0;
}
.baloon.bc:after,
.baloon.bl:after,
.baloon.br:after{
	top: auto;
	bottom: -11px;
}
.baloon.bc:before,
.baloon.fm-baloon-c:before,
.baloon.bl:before,
.baloon.br:before{
	top: auto;
	bottom: -11px;
	background-position: 0 -493px;
}
.baloon.bl:before{
	left: 20px;
	margin-left: 0;
}
.baloon.br:before{
	left: auto;
	right: 20px;
	margin-left: 0;
}
.baloon.nw{
	white-space: nowrap;
}
.ie8 .baloon{
	border: 1px solid #e8ecf0;
}
/*end baloon*/

/*begin button*/
.button{
	position: relative;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 7px 13px 6px;
	background: url("base.png") repeat-x 0 -12px;
	border: 1px solid #fff !important;
	text-decoration: none;
	font-size: 16px;
	color: #fff !important;
	cursor: pointer;
	vertical-align: top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.button.selected,
.button:active{
	padding: 8px 13px 5px;
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.button:disabled,
.button.disabled{
	padding: 8px 13px 5px;
	opacity: 0.3;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
	cursor: default;
}
.button-small{
	height: 13px;
	line-height: 12px;
	padding: 5px 10px;
	font-size: 13px;
}
.button-small:active,
.button-small.selected,
.button-small:disabled,
.button-small.disabled{
	padding: 6px 10px 4px;
}
.button-blue{
	background-position: 0 -12px;
	color: #fff;
}
.button-blue:hover,
.button-blue.disabled,
.button-blue:disabled{
	background-position: 0 -42px !important;
}
.button-blue:active,
.button-blue.selected{
	background-position: 0 -72px;
}
.button-small.button-blue{
	background-position: 0 -102px;
}
.button-small.button-blue:hover{
	background-position: 0 -42px;
}
.button-small.button-blue:active,
.button-small.button-blue.selected{
	background-position: 0 -126px;
}
.button-white{
	background-position: 0 -150px;
	color: #263352 !important;
	-moz-text-shadow: 0 1px 0 #ffffff;
	-webkit-text-shadow: 0 1px 0 #ffffff;
	text-shadow: 0 1px 0 #ffffff;
}
.button-white:hover,
.button-white.disabled,
.button-white:disabled{
	background-position: 0 -180px !important;
}
.button-white:active,
.button-white.selected{
	background-position: 0 -210px;
}
.button-small.button-white{
	background-position: 0 -240px;
}
.button-small.button-white:hover{
	background-position: 0 -180px;
}
.button-small.button-white:active,
.button-small.button-white.selected{
	background-position: 0 -264px;
}
.button .i16{
	vertical-align: top;
}
input.button{
	height: 31px;
	line-height: 31px;
	padding: 0 10px 2px;
}
input.button.button-small{
	height: 25px;
	line-height: 25px;
	padding: 0 10px 2px;
}
input.button:active,
input.button.button-small:active{
	padding: 1px 10px 1px;
}
input.button.selected,
input.button:disabled,
input.button.disabled,
input.button.button-small:disabled,
input.button.button-small.selected,
input.button.button-small.disabled{
	padding: 0 10px 1px !important;
}
button.button{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 28px;
	line-height: 28px;
	padding: 0 10px 1px;
}
button.button.button-small{
	height: 22px;
	line-height: 22px;
	padding: 0 10px 1px;
}
button.button:active,
button.button.selected,
button.button:disabled,
button.button.disabled,
button.button.button-small:active,
button.button.button-small:disabled,
button.button.button-small.selected,
button.button.button-small.disabled{
	padding: 1px 10px 0 !important;
}
/*end button*/

/*begin form_layer*/
.form_layer{
	width: 480px;
	margin: 0 auto;
	color: #263352;
	font-family: 'Arial';
	font-size: 13px;
	line-height: 130%;
	font-weight: normal;
	font-style: normal;
}
.form_layer h3{
	margin: 0 0 15px;
	font-size: 13px;
	font-weight: bold;
}
.form_layer .col_1,
.form_layer .col_2{
	float: left;
	width: 230px;
}
.form_layer .col_1{
	margin: 0 20px 0 0;
}
.form_layer .data .custom-select{
	width: 107px;
	margin: 0;
}
.form_layer .data .date_year{
	float: right;
}
.form_layer .data .date_month{
	float: left;
}
.form_layer .field.action{
	margin: 15px 0 0 0;
	text-align: center;
}
.form_layer .field.cvc .baloon{
	left: 0;
}
/*end form_layer*/

/* begin form error */
.form_error{
	width: 480px;
	height: 23px;
	margin: 0 0 35px;
	padding: 8px 0 9px;
	background: url(form_error_bg.png) no-repeat 0 0;
	color: #fff;
	font-size: 13px;
	line-height: 23px;
	text-align: center;
}
.form_error_ic{
	display: inline-block;
	height: 23px;
	line-height: 23px;
	width: 23px;
	background: url(form_error_ic.png);
	vertical-align: top;
}
.error_text{
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 10px;
}
/* end form error */



















































